﻿.floatLeft
{
	float: left;
}
.paddings(@multiplier: 1){
	padding: @multiplier * 10px;
}


.storyboardContainer {
	width: 90%;
	display: table;
	border: 3px solid #808080;
	margin: 50px;
	.paddings(2);
}

	.storyboardContainer img {
		max-width: 100%;
		max-height: 100%;
		.floatLeft;
	}

.storyboardDescription {
	margin: 0 0 0 50px;
	.floatLeft;
	.paddings(1);
}

.storyboard {
	border: 20px solid rgb(0, 85, 85);
	overflow: hidden;
	.floatLeft;
}

div {
}

	div.sbo {
		.floatLeft;
		overflow: visible;
	}

	div.image {
		display: inline;
	}

	div.column {
	}

	div.row {
	}
