﻿.floatLeft {
  float: left;
}
.storyboardContainer {
  width: 90%;
  display: table;
  border: 3px solid #808080;
  margin: 50px;
  padding: 20px;
}
.storyboardContainer img {
  max-width: 100%;
  max-height: 100%;
  float: left;
}
.storyboardDescription {
  margin: 0 0 0 50px;
  float: left;
  padding: 10px;
}
.storyboard {
  border: 20px solid #005555;
  overflow: hidden;
  float: left;
}
div.sbo {
  float: left;
  overflow: visible;
}
div.image {
  display: inline;
}
/*# sourceMappingURL=storyboard.css.map */